
page-home {

  ion-header {
    .header {
      height: 68px;
    }
  }
    // margin-top: 20vh;

  .title {
    color: $uwi-red;
    margin-bottom: 26px;
  }

  ion-card .frame {
    display: flex;
    justify-content: center;
  }
  ion-card-header{ 
    font-weight: 900;
  }

  iframe {
    height: 200px;
    width: 315px;
  }

  button#schedule {
    margin-top: 26px;
  }
  
  .fixed-content {
    // margin-bottom: 0px !important;
  }
  .scroll-content {
    margin-bottom: 0px !important;
  }
  
}
