page-schedule {

  // ion-content.has-refresher > .scroll-content {
  //   background: transparent !important;
  // }
  // ion-list{
  //   background: url("../../assets/imgs/bg-white3.jpg") fixed;
  //   //background: linear-gradient(to bottom, #ff0000 0%, #ffffff 100%);
  //   //background-size: cover;
  //   position: relative;
  //   padding: 0px;

  //   &::after{
  //     content:'';
  //     position: absolute;
  //     height: 100%;
  //     width: 100%;
  //     background: rgba(255,255,255,0.3);
  //     //background: rgba(255,0,0,0.1);
  //     z-index: 0;
  //   }

  // }

  ion-thumbnail  {
    border-radius: 8px;
    border: 2px solid $uwi-red;
    color:$uwi-red;

    display: flex;
    align-items: center;
    justify-content: center;

    .date-img {
      font-family: 'Baloo Thambi', cursive;
      font-weight: 900;
      width: 50%;
    }
  }

  ion-checkbox.checkbox {
    margin-right: 10px !important;
  }

  ion-toolbar.scrollable-segments {
    overflow-x: scroll;
    white-space: nowrap;
    background: $uwi-red;
  }
  
  ion-toolbar button.date-filter {
    margin: 0 4px;
  }
  
  ion-toolbar ion-buttons button {
    font-size: 8px;
  }
  
  ion-label.small-item {
    font-size: 12px;
  }
  
  $checkbox-ios-icon-size: 16px;
}
