<ion-header>
  <ion-navbar>
    <ion-title>{{ event.title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <img src="{{ event.imgSrc }}" alt="" /> -->
  <ion-row margin-top>
    <h3 class="event-title">{{ event.title }}</h3>
  </ion-row>
  <ion-row>
    <ion-col><strong>Time: </strong>{{ event.start_date | date: "MMM dd" }} @{{ event.start_date | date: "h:mm"}} </ion-col>
  </ion-row>
  <ion-row>
    <ion-col><strong>Venue: </strong>{{ event.venue }}</ion-col>
    <ion-col>
      <button ion-button outline round color="danger" (click)="findOnMap()" *ngIf="location">Locate</button>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="event.faculty !== null">
    <ion-col><strong>Faculty/Dept. : </strong>{{ event.faculty }}</ion-col>
  </ion-row>

  <h3 id="details">Details</h3>
  <div *ngIf="event.details; else noDetails" [innerHTML]="event.details"></div>
  <ng-template #noDetails>Details for this event have not been posted.</ng-template>
</ion-content>
